<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer py-5" th:fragment="footer">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item" style="height:40px;">
            <a href="https://github.com/ash753/board_project">
                <div style="height:10px;"></div>
                <img src="/image/github.png" alt="깃헙로고" class="img-responsive" width="35" title="Git Hub주소"/>
            </a>
        </li>
        <li class="nav-item" style="height:40px;"><div class="fs-5 nav-link px-2 text-muted">ash7533@gmail.com</div></li>
    </ul>
    <p class="text-center text-muted">© 2022 </p>
</div>