<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:replace="fragments/bodyHeader::bodyHeader"/>
    <div class="container text-center">
        <div class="container" style="width:800px;">
            <div  class="row mt-3">
                <div class="col"><p class="fs-3 fw-bolder">게시글 목록</p></div>
                <div class="col"><a href="/boards/new" class="nav-link link-dark px-2"><button class="btn btn-primary" type="submit">글쓰기</button></a></div>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>날짜</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board : ${boards}"  th:onclick="'location.href=\''+ @{${board.id}} + '\''">
                        <td th:text="${board.id}"></td>
                        <td th:text="${board.title}"></td>
                        <td th:text="${board.date}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer::footer"/>
</body>
</html>