<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/bodyHeader::bodyHeader"/>

<div class="container">
    <div class="row py-2">
        <div class="container d-flex" style="max-width:800px;">
            <div class="container d-flex flex-wrap">
                <ul class="nav me-auto"><li class="nav-item"><a href="/boards" class="nav-link link-dark px-2"><button class="btn btn-secondary" type="submit">목록으로</button></a></li></ul>
                <ul class="nav">
                    <li class="nav-item px-2">
                        <form th:action="|/boards/${board.id}/editForm|" th:method="get">
                            <button class="btn btn-primary" type="submit" >수정</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form th:action="|/boards/${board.id}|" th:method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button class="btn btn-danger" type="submit" >삭제</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row py-2">
        <div class="container d-flex" style="width:800px;">
            <p class="fs-2 fw-bolder" th:text="${board.title}">제목</p>
        </div>
        <div class="row py-2">
            <div class="container d-flex" style="width:800px; min-height:100px;" >
                <p class="fs-5" th:utext="${#strings.replace(board.content,nlString, '&lt;br /&gt;')}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores cupiditate, deserunt dolores est eum excepturi facilis illum ipsum itaque mollitia nobis pariatur porro, provident quaerat quam quibusdam saepe sint totam, ullam! Aliquid aut deleniti dicta dolorem eius esse exercitationem expedita fuga in iure iusto labore maxime odio omnis quia quis rem repellendus repudiandae sed tenetur, veritatis voluptas voluptates. Ab amet consectetur cupiditate distinctio, eaque, eos error et ex explicabo facere fuga harum libero minus modi molestias neque nesciunt nihil odit perferendis quidem ratione rem repellendus, repudiandae saepe sequi sit soluta temporibus unde veniam voluptatibus? Facilis inventore quaerat qui tenetur!</p>
            </div>
        </div>
        <div class="row py-2">
            <div class="container d-flex" style="width:800px;">
                <p th:text="|날짜 : ${board.date}|"></p>
            </div>
        </div>
        <div class="row py-2">
            <div class="container" style="width:800px;">
                <p class="fs-5">첨부파일</p>
                <ul th:each="file:${files}">
                    <li><a th:href="|/files/${file.id}|" th:text="${file.originalName}" download=""/></li>
                </ul>
            </div>
        </div>
        <div class="row py-2">
            <hr class="container d-flex" style="width:800px;"/>
        </div>

        <div class="row py-1">
            <div class = "container" style="width:600px;">
                <div class="card w-90" th:each="comment:${comments}">
                    <div class="card-body">
                        <p class="card-text" th:text="${comment.content}" >With supporting text below as a natural lead-in to additional content.</p>
                        <div class="container d-flex flex-wrap">
                            <ul class="nav me-auto">
                            </ul>
                            <ul class="nav">
                                <li class="nav-item mt-2" th:text="${comment.date}">날짜</li>
                                <li class="nav-item">
                                    <form th:action="|/boards/${board.id}/comments/${comment.id}|" th:method="post">
                                        <input type="hidden" name="_method" value="delete">
                                        <button class="btn btn-secondary" type="submit">삭제</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-1">
            <div class = "container" style="width:600px;">
                <div class="card w-90">
                    <div class="card-body">
                        <form th:action="|/boards/${board.id}/comments|" th:object="${commentAddDto}" th:method="post">
                            <textarea class="form-control" th:field="*{content}" th:errorclass="field-error" aria-label="With textarea"></textarea>
                            <div class="field-error" th:errors="*{content}"></div>
                            <button class="btn btn-primary float-right" type="submit">댓글 쓰기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer::footer"/>
</body>
</html>